service: wordle-backend

frameworkVersion: "4"

provider:
  name: aws
  runtime: python3.10
  region: us-east-1
  stage: prod

  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedHeaders:
        - Content-Type
      allowedMethods:
        - POST
        - OPTIONS

functions:
  api:
    handler: app/handler.handler
    events:
      - httpApi:
          path: /api/guess
          method: POST

package:
  patterns:
    - api/**
    - app/**
    - requirements.txt

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: false
    slim: true
    pythonBin: python3.10