service: wordle-backend

frameworkVersion: ">=3 <4"

provider:
  name: aws
  runtime: python3.10
  region: us-east-1
  stage: ${opt:stage, 'dev'}

  environment:
    STAGE: ${self:provider.stage}

  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedHeaders:
        - Content-Type
      allowedMethods:
        - POST
        - OPTIONS

functions:
  api:
    handler: app/handler.handler
    events:
      - httpApi:
          path: /api/guess
          method: POST

package:
  patterns:
    - app/**
    - server.py
    - requirements.txt

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: false
    slim: true
    pythonBin: python3.10