@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Nunito Sans Variable", sans-serif;
  }
}

@layer base {
  h1 {
    font-family: "Alias";
    src: url("./assets/fonts/Alias-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
}
/* font-family: "Alias";
  src: url("./assets/fonts/Alias-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alias";
  src: url("./assets/fonts/Alias-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.h1-alias {
  font-family: "Alias", sans-serif;
} */
